<%# レンダリング先 新規投稿 %>
<%= form_with model: post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :感想 %>
    <%= f.text_area :caption, class: "form-control", rows: "7" %>
  </div>
  <p>
    <%= f.submit class: "btn btn-block btn-primary" %>
  </p>
  <p>
    <%= link_to '戻る', :back, class: "btn btn-block btn-secondary" %>
  </p>
  <a href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');" class="btn btn-info btn-block">Tweet</a>
<% end %>