<div class="card mb-5">

  <%= link_to post do %>
  <% end %>
  <div class="card-text">
    <p><%= truncate(post.title, length: 100) %>
    <p><%= truncate(post.caption, length: 2000) %></p>
  </div>

    <p>
      <%= link_to "編集", edit_post_path(post), class: "btn btn-xs btn-success" %>
      <%= link_to "削除", post_path(post), method: :delete, class: "btn-default" %>
    <a href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');" class="btn btn-info">Tweet</a>
    </p>
</div>


